.featured-guests {
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
    text-align: center;
  }
  
  .featured-guests h2 {
    font-size: 35px;
  }
  
  .featured-guests .hr-line {
    position: relative;
    height: 2px;
    background-color: #f64e39;
    top: 20px;
    width: 15%;
    margin: auto;
  }
  
  .speakers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 10px;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  
  .speakers:nth-child(n+3) {
    display: none;
  }
  
  .more-info {
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 22px;
    justify-content: center;
    border: 1px solid rgb(79, 78, 78);
    margin: auto;
    text-align: center;
    padding: 20px;
    cursor: pointer;
  }
  
  .less-info {
    display: none;
    align-items: center;
    width: 80%;
    font-size: 22px;
    justify-content: center;
    border: 1px solid rgb(79, 78, 78);
    margin: auto;
    text-align: center;
    padding: 20px;
    cursor: pointer;
  }
  
  .more-info .fa-chevron-down {
    color: #ec5242;
    font-weight: bold;
    font-size: 22px;
    padding-left: 3px;
  }
  
  .fa-chevron-up {
    margin-bottom: -5px;
  }
  
  .less-info .fa-chevron-up {
    color: #ec5242;
    font-weight: bold;
    font-size: 22px;
    padding-left: 5px;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    .speaker-holder {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
        justify-self: center;
        padding: 50px;
        margin: auto;
      }

      .featured-guests h2 {
        margin-top: 20px;
      }
    
      .featured-guests .hr-line {
        width: 5%;
        margin: auto;
        height: 3px;
        background: #f94129;
      }

      .speakers {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 40px;
      }
    
      .speakers:nth-child(n+1) {
        display: flex;
      }
    
      .more-info {
        display: none;
      }
    
      .less-info {
        display: none;
      }
  }